
/******************* reset *******************/


a {
   text-decoration: none;
}

/******************* tags *******************/

#board {
   display: table;
   height: auto;
}

.position {
   width: 10px;
   display: block;
   float: left;
   padding: 5px 10px;
}

.x1 {
   clear: left;
}
